<div>Multi-select dropdown example - 2</div>
<!-- <form-builder [form]="form" (change)="onChange($event)"></form-builder> -->
<!-- <div class="well jsonviewer">
  <pre id="json"><code class="language-json" #json></code></pre>
</div> -->

<div>
  <formio [form]='{
    "components": [
        {
            "label": "Select",
            "widget": "html5",
            "tableView": true,
            "multiple": true,
            "data": {
                "values": [
                    {
                        "label": "opt1",
                        "value": "opt1"
                    },
                    {
                        "label": "opt2",
                        "value": "opt2"
                    },
                    {
                        "label": "opt3",
                        "value": "opt3"
                    },
                    {
                        "label": "opt4",
                        "value": "opt4"
                    }
                ]
            },
            "selectThreshold": 0.3,
            "calculateServer": false,
            "validate": {
                "multiple": true
            },
            "key": "select1",
            "type": "select",
            "indexeddb": {
                "filter": {}
            },
            "input": true
        },
        {
            "type": "button",
            "label": "Submit",
            "key": "submit",
            "disableOnInvalid": true,
            "input": true,
            "tableView": false
        }
    ]
}' (submit)="onSubmit($event)"></formio>
</div>

<router-outlet></router-outlet>